In [3]:
import pandas as pd

In [4]:

df1 = pd.read_csv("/content/sample_data/AllItems (1).csv", skiprows=960,encoding = "latin-1")

In [7]:
df1.head()

,29/10/2021 15:14:35,"Enquiry from Srekanth Nilakantan on Daft.ie | House Share | 1A, Mountjoy Street, Dublin 1","\r\n\r\n\r\nNew Enquiry\r\n\r\n\r\n\r\n\r\n\r\nYou have a new enquiry\r\n\r\nYou can find the enquiry information below\r\n\r\n\r\n\r\n\r\nFrom: Srekanth Nilakantan\r\n\r\nEmail: shrekbam@gmail.com<mailto:shrekbam@gmail.com>\r\n\r\nPhone: 0871178197<tel:0871178197>\r\n\r\nMessage: Hi there, I'm looking for an apartment for my colleague, Sandra. We work in the same company, Making Science & our office is located in The Academy next to Trinity Business School. She is a non-smoker, extremely patient and a dog lover. Would be great to know more about this property. Thanks!\r\n\r\n\r\n\r\n <https://www.daft.ie/share/1a-mountjoy-street-dublin-1/3210325?utm_campaign=ad_reply_email_sharing&utm_medium=email&ea=1&utm_source=ad_reply>\r\n\r\n[https://mailassets.distilled.ie/email/daft/ber/A3.png] [https://mailassets.distilled.ie/email/daft/icons/icon-photos.png] 21 [https://mailassets.distilled.ie/email/daft/icons/icon-video.png]\r\n\r\n\r\nâ¬780 per month\r\n\r\n1A, Mountjoy Street, Dublin 1\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\nDaft Media Ltd. 3rd Floor Latin Hall, Golden Lane, Dublin 8\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n",noreply@daft.ie,gaamcapital@gmail.com,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,25/11/2021 18:40:05,Enquiry from janer hurtado on Daft.ie | Studi...,\r\n\r\n\r\nNew Enquiry\r\n\r\n\r\n\r\n\r\n\r\...,noreply@daft.ie,gaamcapital@gmail.com,NaN,NaN,NaN,NaN
1,26/11/2021 15:46:09,Enquiry from Dillon Forde on Daft.ie | Studio...,\r\n\r\n\r\nNew Enquiry\r\n\r\n\r\n\r\n\r\n\r\...,noreply@daft.ie,gaamcapital@gmail.com,NaN,NaN,NaN,NaN
2,13/10/2021 18:01:33,Enquiry from ChloÃÂ© Yannic on Daft.ie | Hous...,\r\n\r\n\r\nNew Enquiry\r\n\r\n\r\n\r\n\r\n\r\...,noreply@daft.ie,gaamcapital@gmail.com,NaN,NaN,NaN,NaN
3,07/10/2022 13:43:29,Enquiry from Juan Juzgado on Daft.ie | Apartme...,\r\n\r\n\r\nNew Enquiry\r\n\r\n\r\n\r\n\r\n\r\...,noreply@daft.ie,gaamcapital@gmail.com,NaN,NaN,NaN,NaN
4,25/11/2021 18:20:25,Enquiry from Amanda Zeila on Daft.ie | Studio ...,\r\n\r\n\r\nNew Enquiry\r\n\r\n\r\n\r\n\r\n\r\...,noreply@daft.ie,gaamcapital@gmail.com,NaN,NaN,NaN,NaN

In [9]:
df1.columns = ["date","subject","body","from","to","cc","attach","arrmessage","a"]

In [11]:
d3=df1[['body']].copy()

In [12]:
d3.head()

                                                body
0  \r\n\r\n\r\nNew Enquiry\r\n\r\n\r\n\r\n\r\n\r\...
1  \r\n\r\n\r\nNew Enquiry\r\n\r\n\r\n\r\n\r\n\r\...
2  \r\n\r\n\r\nNew Enquiry\r\n\r\n\r\n\r\n\r\n\r\...
3  \r\n\r\n\r\nNew Enquiry\r\n\r\n\r\n\r\n\r\n\r\...
4  \r\n\r\n\r\nNew Enquiry\r\n\r\n\r\n\r\n\r\n\r\...

In [13]:
data= d3.body.str.split("Message:", expand = True)

In [14]:
data.head()

,0,1
0,\r\n\r\n\r\nNew Enquiry\r\n\r\n\r\n\r\n\r\n\r\...,"Hello, I am very interested in the studio. Co..."
1,\r\n\r\n\r\nNew Enquiry\r\n\r\n\r\n\r\n\r\n\r\...,Hi my partner and I are planning on moving to...
2,\r\n\r\n\r\nNew Enquiry\r\n\r\n\r\n\r\n\r\n\r\...,"Hello ! My name is ChloÃÂ©, I am 22 years ol..."
3,\r\n\r\n\r\nNew Enquiry\r\n\r\n\r\n\r\n\r\n\r\...,"Hi, my name is Juan Juzgado, I am from Spanis..."
4,\r\n\r\n\r\nNew Enquiry\r\n\r\n\r\n\r\n\r\n\r\...,"Hello, My name is Amanda and me and my boyfri..."

In [15]:
data.columns = ["email", "message"]

In [16]:
f_data=data['message']

In [17]:
data= data.email.str.split("Email", expand = True)

In [18]:
data.head()

,0,1
0,\r\n\r\n\r\nNew Enquiry\r\n\r\n\r\n\r\n\r\n\r\...,: janertauro@gmail.com<mailto:janertauro@gmail...
1,\r\n\r\n\r\nNew Enquiry\r\n\r\n\r\n\r\n\r\n\r\...,: gracepaterson123@gmail.com<mailto:gracepater...
2,\r\n\r\n\r\nNew Enquiry\r\n\r\n\r\n\r\n\r\n\r\...,: chloe.yannic@gmail.com<mailto:chloe.yannic@g...
3,\r\n\r\n\r\nNew Enquiry\r\n\r\n\r\n\r\n\r\n\r\...,: juanjuzgadosoler@gmail.com<mailto:juanjuzgad...
4,\r\n\r\n\r\nNew Enquiry\r\n\r\n\r\n\r\n\r\n\r\...,: amandazeila17@gmail.com<mailto:amandazeila17...

In [19]:
data.columns = ["grab", "main"]

In [20]:
data= data.main.str.split("<", expand = True)

In [21]:
data.head()

,0,1,2,3,4,5,6,7
0,: janertauro@gmail.com,mailto:janertauro@gmail.com>\r\n\r\nPhone: 083...,tel:0831129661>\r\n\r\n,None,None,None,None,None
1,: gracepaterson123@gmail.com,mailto:gracepaterson123@gmail.com>\r\n\r\nPhon...,tel:0838162058>\r\n\r\n,None,None,None,None,None
2,: chloe.yannic@gmail.com,mailto:chloe.yannic@gmail.com>\r\n\r\nPhone: +...,tel:+33622350454>\r\n\r\n,None,None,None,None,None
3,: juanjuzgadosoler@gmail.com,mailto:juanjuzgadosoler@gmail.com>\r\n\r\n,None,None,None,None,None,None
4,: amandazeila17@gmail.com,mailto:amandazeila17@gmail.com>\r\n\r\nPhone: ...,tel:+40759518529>\r\n\r\n,None,None,None,None,None

In [22]:
data=data[0]

In [23]:
data.columns = ["mail"]

In [24]:
data.head()

0          : janertauro@gmail.com
1    : gracepaterson123@gmail.com
2        : chloe.yannic@gmail.com
3    : juanjuzgadosoler@gmail.com
4       : amandazeila17@gmail.com
Name: 0, dtype: object

In [25]:
data= data.str.split(":", expand = True)

In [26]:
data.head()

  0                            1     2     3     4     5     6     7
0           janertauro@gmail.com  None  None  None  None  None  None
1     gracepaterson123@gmail.com  None  None  None  None  None  None
2         chloe.yannic@gmail.com  None  None  None  None  None  None
3     juanjuzgadosoler@gmail.com  None  None  None  None  None  None
4        amandazeila17@gmail.com  None  None  None  None  None  None

In [27]:
data=data[1]

In [28]:
data

0             janertauro@gmail.com
1       gracepaterson123@gmail.com
2           chloe.yannic@gmail.com
3       juanjuzgadosoler@gmail.com
4          amandazeila17@gmail.com
                  ...
460               ononwa@yahoo.com
461             zoes1215@gmail.com
462          hayleymbell@gmail.com
463           riariseroy@gmail.com
464                           None
Name: 1, Length: 465, dtype: object

In [29]:
whole_data= pd.concat([data,f_data],axis=1)

In [30]:
whole_data.columns = ["EmailID","Message"]

In [31]:
whole_data.head()

,EmailID,Message
0,janertauro@gmail.com,"Hello, I am very interested in the studio. Co..."
1,gracepaterson123@gmail.com,Hi my partner and I are planning on moving to...
2,chloe.yannic@gmail.com,"Hello ! My name is ChloÃÂ©, I am 22 years ol..."
3,juanjuzgadosoler@gmail.com,"Hi, my name is Juan Juzgado, I am from Spanis..."
4,amandazeila17@gmail.com,"Hello, My name is Amanda and me and my boyfri..."

In [32]:
new_data=whole_data.groupby('EmailID')

In [33]:
new_data.head()

,EmailID,Message
0,janertauro@gmail.com,"Hello, I am very interested in the studio. Co..."
1,gracepaterson123@gmail.com,Hi my partner and I are planning on moving to...
2,chloe.yannic@gmail.com,"Hello ! My name is ChloÃÂ©, I am 22 years ol..."
3,juanjuzgadosoler@gmail.com,"Hi, my name is Juan Juzgado, I am from Spanis..."
4,amandazeila17@gmail.com,"Hello, My name is Amanda and me and my boyfri..."
...,...,...
456,vecosta.ve@gmail.com,Hi Is this room available?\r\n\r\n\r\n\r\n <h...
460,ononwa@yahoo.com,"Hi, I'm a young working professional original..."
461,zoes1215@gmail.com,HI I was wondering if this room I still avail...
462,hayleymbell@gmail.com,"Hi Joel, I am a working professional Irish fe..."
463,riariseroy@gmail.com,Hi Joel I'm a working professional looking fo...

In [35]:
enfuse_data=pd.DataFrame(new_data)

In [38]:
enfuse_data.head()

,0,1
0,14jj1997@gmail.com,EmailID ...
1,99patrickras@gmail.com,EmailID \ 374 99patric...
2,Ionut.apostol100@gmail.com,EmailID \ 101 Ionu...
3,Julienjung.jj@gmail.com,EmailID \ 188 Julienj...
4,Katataumadrid@gmail.com,EmailID \ 213 Katatau...

In [39]:
enfuse_data.to_csv("Enfuse_data.csv",sep=',',index=False,encoding='utf-8')